$primary-color: #0c4727;
$yellow-color: #cdb83d;
$cab-font-color: #d9efe3;



$header-font-family: "OpenSansCondensedLight", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$header-font-color: #777;

//$base-font-size: 14px;
$body-font-family: "OpenSansCondensedLight", "Helvetica", Helvetica, Arial, sans-serif;


