
@charset "UTF-8";

@import "base";
@import "foundation/variables";


@import "normalize";

@import "compass/css3";



// Foundation Components
@import
"foundation/components/global",
"foundation/components/grid-5",
"foundation/components/visibility",
"foundation/components/block-grid",
"foundation/components/type",
"foundation/components/buttons",
"foundation/components/forms",
"foundation/components/button-groups",
// "foundation/components/dropdown-buttons",
// "foundation/components/split-buttons",
// "foundation/components/flex-video",
// "foundation/components/section",
// "foundation/components/top-bar",
// "foundation/components/orbit",
// "foundation/components/reveal",
// "foundation/components/joyride",
// "foundation/components/clearing",
// "foundation/components/alert-boxes",
//  "foundation/components/breadcrumbs",
//  "foundation/components/custom-forms",
//  "foundation/components/keystrokes",
"foundation/components/labels",
"foundation/components/inline-lists",
//  "foundation/components/pagination",
"foundation/components/panels",
//  "foundation/components/pricing-tables",
//  "foundation/components/progress-bars",
"foundation/components/side-nav",
//  "foundation/components/sub-nav",
//  "foundation/components/switch",
//  "foundation/components/magellan",
//  "foundation/components/tables",
"foundation/components/thumbs";
//  "foundation/components/tooltips",
// "foundation/components/dropdown";


body { background: url("../images/pw_maze_black.png");}

#header {
  margin-top: em-calc(22);
}


.phone {

  h3 {
    background: url("../images/phone.png") no-repeat;
    padding-left: 40px;
    color: $primary-color;

  }

}

#subh{
  margin-top: em-calc(22);
  position: relative;
  @include thumb($box-shadow: 0 0 6px 1px rgba(#000,.2));


}

.menu-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  @include background-image(linear-gradient($primary-color,darken($primary-color, 5%)));
  opacity: 0.9;


  ul {

    margin-bottom: 0;

    li { padding: em-calc(5) 0;}


    a {
      //@include button-base;
      //@include button-size;
      //@include button-style($bg: #FFFFFF, $radius: true);
      //@include button-style;
      //@include radius;
      //margin-left: 2px;
      color: $yellow-color;
      padding: em-calc(5) em-calc(10);

      @include radius;
      &:hover {
        background: $primary-color;
        //@include single-box-shadow($inset: true,$voff: 1px, $blur: 2px, $color: darken($primary-color, 10%) );
        box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
        @include single-transition;
      }

    }
      text-transform: uppercase;

  }

}


#book-form { @include panel($bg: $yellow-color); h5{color: $primary-color;}}


.wrapper {
  background: url("../images/wrapbg.png");
  padding-top: em-calc(15);


  h4,h5 { color: $primary-color;}

}

.cx{ @include clearfix;}


#footer{

  color: $primary-color;
  padding: em-calc(22) 0;
  //@include single-box-shadow($inset: true, $voff: 2px, $blur: 2px, $color: darken($primary-color, 10%) );
  //@include single-text-shadow($voff: 1px, $hoff: 1px, $color: rgba(0, 0, 0, 0.7));

  ul{margin: 0;}
}



